<h1>Create a director</h1>


<form action ="/create-director" method="POST">

<input name="firstName" type="text" class="input" placeholder="firstName">
<input name="lastName" type="text" class="input" placeholder="lastName">

<button type="submit" class="submit-button"> Create Director</button>

</form>