<div class="movies">
<h1> Ironhack Cinema </h1>
    <h3>Click on the movies to check the showtimes!</h3>
<div class="moviesWrapper">
    {{#each movies}}
    <div class="movie">
    {{>moviePartial}}
    </div>
    {{/each}}
</div>
</div>